.section{
  background-image: url("/public/images/backgroud\ depoimentos.png");
  background-repeat: repeat;
}

.tittle{
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: clamp(30px, 5vw, 200px);
  text-align: center;
}

.mainConteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category {
  width: calc(25% - 10px); 
  margin-bottom: 20px; 
  box-sizing: border-box; 
  
}

.category img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}


@media screen and (max-width: 600px) {
  .category{
    flex: 0 0 45%;
    margin: 2.5%; 
    box-sizing: border-box; 
  }
}